In [ ]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [ ]:
jeopardy_df = pd.read_csv('jeopardy.csv')

In [ ]:
print(jeopardy_df.head())

In [ ]:
for col in jeopardy_df.columns:
    print(col)

In [122]:
print(jeopardy_df.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

Printing out the column names, we can see that, apart from the first, each one has a space at the front. Let's rename the columns:

In [125]:
for col in jeopardy_df.columns:
    jeopardy_df.rename(columns= {col : col.strip()}, inplace=True)
print(jeopardy_df.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list ["King", "England"] was passed to our function, the function returned a DataFrame of 152 rows.

In [126]:
def find_question(words):
    num = 0
    for col in jeopardy_df.Question:
        if all(x.lower() in col.lower() for x in words):
            print(col)
            num += 1
            print(num)
    
            

find_question(['King', 'England'])

Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
1
In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
2
This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
3
This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
4
It's the number that followed the last king of England named William
5
Nelson said, "England expects that every man will do" this & died thanking God he did his
6
This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
7
There was good kinging in the 800s--Leo the Wise ruled the Byzantine Empire while England had Alfred the this
8
In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
9
Name of 8 kings of England since 1272, it was also General Lee's middle name
10
He was the only king of England to have "The Great" tacked on to his name
11
this man and his son ruled England following the execution of King Charles I
12
William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
13
This "unready" king of England lost most of his country to Sven Forkbeard, the king of Denmark
14
This king of England was killed by a Norman arrow at the Battle of Hastings
15
In 1066 he became the last Saxon king to rule England
16
This member of the Medici family was the mother-in-law of England's King Charles I
17
The IV king of this name (following the Norman Conquest) brought the House of York to England's throne
18
This king of England was a leader of the Third Crusade
19
(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
20
Born in Bedfordshire, England in 1628, he was making "Progress" from the start
21
Before he became king of England, George VI served in the Royal Navy & fought in the Battle of Jutland during this war
22
(<a href="http://www.j-archive.com/media/2005-05-30_DJ_26.jpg" target="_blank">Jimmy of the Clue Crew holds a block of cheese</a>.)  I'm in this Midwest state famous for making cheddar, which actually originated in a village in England
23
They named a knot for this Duke who was briefly king of England
24
This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
25
England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
26
The father of England's King Edward VI
27
This steak sauce was created for King George IV of England
28
Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
29
(<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
30
He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
31
This associate of Marx wrote about "the condition of the working class in England in 1844"
32
While in England in 1760, John Hancock attended the coronation of this king
33
(<a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">Jimmy of the Clue Crew reports from in front of the Bayeux Tapestry.</a>)  The tapestry opens in 1064 with this childless king on England's throne; 11th century sources say the <a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">meeting</a> is about naming his successor
34
When England's Queen Anne died, this German became king because he was a great grandson of James I
35
This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
36
He was the last of the 3 men who were king of England during 1066
37
Famous (& rather insulting) adjective for England's King Ethelred II
38
The only name shared by four consecutive kings of England
39
He became King of England in 1399 after forcing his cousin Richard II from the throne
40
In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as king of England
41
In literature, restoration refers to the period after the return of this king to England's throne in 1660
42
He was working on his 3rd symphony when he died in England in 1934; it premiered in 1998 amid much "pomp"
43
This king called "the Great" beat the Danes in 886 to keep all of England from being conquered
44
This first Tudor king reigned on the throne of England
45
Chronological lists of England's kings are missing 1649-1660, between 2 kings of this name
46
In 1710 Handel was appointed kapellmeister to the elector of Hanover, this future king of England
47
Number of the William who was England's "Sailor King" from 1830 to 1837
48
This current king of Jordan received part of his education in England at Harrow & Sandhurst
49
Barons & churchmen drew up this 1215 document to reduce the power of England's King John
50
In 1497 this Venetian sailing for England became the first European since the Vikings to reach N. America
51
It's the rank of the character singing <a href="http://www.j-archive.com/media/2006-06-28_DJ_14.mp3">here</a>  <i>"I know the kings of England and I quote the fights historical / From Marathon to Waterloo, in order categorical"</i>
52
11th century England had 2 kings with this name, one a Dane & one a Saxon
53
He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
54
Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this "house"
55
He called himself "king of Great Britain" after gaining England's throne in 1603--he was already king of Scotland
56
On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
57
England's King Charles II was known by this "jovial" nickname
58
This nickname of Virginia came from Charles II ranking it with England, Ireland, France & Scotland
59
England's last Lancastrian king, he was imprisoned & murdered in the Tower of London in 1471
60
England had its last Saxon king
61
The "rump" parliament wanted him to be the last king England would ever name
62
He went from second banana on "Roseanne" to top banana of England in "King Ralph"
63
The taking of England by William in 1066 is known as this "Conquest"
64
This country's King Olaf V was born in England & was the grandson of King Edward VII
65
During an 1840 speaking tour in England, he persuaded thousands to emigrate to Nauvoo, Illinois
66
<a href="http://www.j-archive.com/media/2005-02-11_J_10.mp3">In 1860s England, he would change the rules of pugilism forever... by making them!  This summer, Vin Diesel is...</a>
67
This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
68
He was "the Confessor" king of England in the 11th century
69
In a 1989 ceremony at Buckingham Palace, the Queen of England made him an honorary knight
70
From 1714 to 1830 every king of England had this name
71
Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830
72
Like England's William I, Aragon's Jaime I won this nickname, in part by taking over Valencia
73
"Carolus Stuardus" by Andreas Gryphius is about this executed king of England
74
This king of England was the grandfather of Elizabeth I
75
This Romantic began his "England in 1819", "An old, mad, blind, despised and dying king"
76
It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
77
In 1191, Berengaria married this king of England in Limassol, Cyprus
78
In French this King of England is called Guillaume le Conquerant
79
Winchester, the county seat of Hampshire, was the capital of this Western Anglo-Saxon kingdom of England
80
In this Twain tale, Tom Canty is a dead ringer for the future king of England
81

If you want to be crowned King of England, this rock has to be in your coronation chair
82
King Henry VII of England dies
83
The first Hanoverian king born in England, he ruled for 60 years, from 1760 to 1820
84
Famous nickname of the eldest son of England's King Edward III
85
"More butcher than king in England" is seen as this leader born in 1599, 33 years after Nostradamus died
86
Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
87
This state was named for the King of England who reigned from 1727 to 1760
88
King Edward I of England, who fought William Wallace, had this nickname relating to his height
89
This "Sun King" sniffed, "England is a little garden full of sour weeds"
90
This conflict's last battle in 1485 resulted in the house of Lancaster taking power in England
91
1999: "Goodnight you princes of Maine, you kings of New England"
92
The last King William to rule England had this number after his name
93
1189,1377 &1483 are the 3 years the only 3 kings of England with this name each ascended the throne
94
In 1191 this "Lion-Hearted" king of England captured Cyprus & Acre during the Crusades
95
Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled
96
Anglo-Saxon legend says his third son Japheth is an ancestor of the kings of Wessex & England
97
This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
98
In the late 800s, this king of Wessex prevented the Vikings from conquering all of England
99
Ending an 800-year-old monarchy, in October this country became a republic & its last king, Manuel II, fled to England
100
On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed
101
The only king of England named Stephen was the grandson of this conqueror
102
England had this many kings named Richard
103
During Stanley Baldwin's term as P.M., this King of England abdicated
104
2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont
105
Colchester, England was named for this legendary Celtic king immortalized in rhyme
106
At the beginning of "A Tale of Two Cities", these 2 kings sit on the thrones of England & France
107
This Dutch-born English king introduced gin to England as the "pouring spirit" in the palace at Hampton Court
108
A translation of the Bible is named for this king of England & Scotland
109
This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives
110
The Glorious Revolution of 1688 brought this Dutchman to power as king of England, Scotland, & Ireland
111
This Shakespeare title guy, the last Yorkist king of England, was beloved by the people of York
112
The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
113
The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
114
Argentina didn't "kick" about this controversial tie-breaking method after using it to beat England
115
The last Anglo-Saxon king of England was killed in this battle
116
In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
117
A breed of spaniel is named for England's second king of this name
118
This conqueror was crowned King of England on Christmas Day 1066
119
His short reign as King of England fell in in 1936
120
He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199
121
Soccer was forbidden in 14th century England for taking practice time away from this military skill
122
Richard was crowned king of England at this place of worship
123
1066: He's crowned king of England
124
A capital in the West Indies is named for this family name of William of Orange, King of England
125
By 878 the Vikings had conquered all of England except for this southern kingdom controlled by Alfred the Great
126
He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
127
This Bahamian capital took its name from the family name of King William III of England
128
This style influenced by the Romans is named for England's 4 kings between 1714 & 1830
129
In January 1533 she secretly married the king of England
130
The man who became king of England in 1066 was succeeded by this king in 1087
131
This Coventry, England company made its first motorcycle in 1902 & began making its own engines in 1905
132
On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine
133
England's King Harold II lost the all-important Battle of Hastings in this year
134
1 of the first 5 kings of England
135
On January 6, 1066, one day after Edward the Confessor died, he became king of England
136
(<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
137
England's King _____ _____ R. Luce
138
The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
139
In 1714 the Prince of Hanover, who spoke little English, became king of England under this name
140
In 1603 he became the first Stuart king of England
141
England's Richard III was the last king of this ruling house
142
8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
143
This monarch on whom the Magna Carta was forced has been called "the worst king ever to rule England"
144
Popular Saint-Exupery character waiting around to become king of England
145
In 1731 this man's ear was cut off, later sparking a war between Spain & England
146
This southern colony was named for a king of England, the II of that name
147
In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
148
Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
149
In 1781 William Herschel discovered Uranus & initially named it after this king of England
150
His nickname was "Bertie", but he used this name & number when he became king of England in 1901
151
This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
152

We may want to eventually compute aggregate statistics, like .mean() on the " Value" column. But right now, the values in that column are strings. Convert the " Value" column to floats. If you’d like to, you can create a new column with the float values.

In [127]:
print(jeopardy_df.head())

   Show Number    Air Date      Round                         Category Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          $200
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 $200
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

Create a new column with values without the '$' character

In [128]:
jeopardy_df['Clean_Values'] = jeopardy_df['Value'].map(lambda x: x.strip('$,'))

Convert new values in new column to floats

In [ ]:
jeopardy_df['Clean_Values'] = pd.to_numeric(jeopardy_df['Clean_Values'], errors='coerce')

In [ ]:
print(jeopardy_df.Clean_Values.mean())

In [ ]:
def find_question(words):
    num = 0
    for col in jeopardy_df.Question:
        if all(x.lower() in col.lower() for x in words):
            print(jeopard_df.query(col))
            num += 1
            print(num)
            
    
            

find_question(['King'])